<!--
会议主页
URL：/conference/?name={会议简称}&year={年份}
显示：
会议全称、简称、所属领域、DBLP网址、官方网址
所有论文
response：
一个Conference类的变量conf
一个Paper类的列表paper_list
author_list是一个列表，第i个元素是Scholar类构成的列表，表示第i篇论文的作者们
-->
{% extends "base.html" %}
{% load index %}

{% block mainbody %} 
	<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%;">
	<div class="basic_info" class="container-fluid" style="float:left;position:fixed;margin-left:0;margin-top:20px;width:25%;min-height:50%;padding:20px 30px;">
		<h3 style="text-align:center;margin-bottom:20px;"><b>{{conf.abbr}} {{conf.year}}</b></h3>
		<p style="font-size:15px;text-align:center;">{{conf.name}}</p>
		<div style="width:60px;margin:auto;float:right;">
		{% load static %}
		<span style="margin:2.5px"><a href="{{ conf.Href }}"><img src="{% static 'asset/home-icon.jpg' %}" width="20px" height="20px"></a></span>
		<span style="margin:2.5px"><a href="{{ conf.DBLP }}"><img src="{% static 'asset/dblp-logo.png' %}" width="20px" height="20px"></a></span>
		</div>
		<br>
		<p class="enum"><b>Area:</b>
		{% for a in area_list %}
			<a href="/area/?name={{a.name|urlencode}}">{{a.name}}</a>
		{% empty %}
			None
		{% endfor %}
		</p>
		<div style="width:100%;text-align:center;"><a type="submit" id="follow_button" style="margin:0 auto" data-title="{{ Type }}"></a></div>
	</div>
	<div class="basic_info" class="container-fluid" style="float:right;margin-right:0;margin-top:20px;text-align:left;width:70%;padding:20px 30px;">
		<h3 style="display:inline-block;margin-bottom:20px;margin-left:10px;"><b>Publications</b></h3>
		{% for p in paper_list %}
		<div class="publication">
			<div style="margin-top:10px;margin-bottom:10px;">
			<h5><a href="/paper/?title={{p.title|urlencode}}" style="color:#0047b3">{{p.title}}</a></h5>
			<div style="margin-left:10px;width:100%;">
			<p class="enum">
			{% for au in author_list|index:forloop.counter0 %}
				<a href="/scholar/?name={{ au.name }}">{{ au.name }}</a>
			{% empty %}
				None
			{% endfor %}
			</p>
			</div>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}