<!--
会议主页
URL：/conference/?name={会议简称}&year={年份}
显示：
会议全称、简称、所属领域、DBLP网址、官方网址
所有论文
response：
一个Conference类的变量conf
一个Paper类的列表paper_list
author_list是一个列表，第i个元素是Scholar类构成的列表，表示第i篇论文的作者们
-->
{% extends "base.html" %}
{% load index %}

{% block mainbody %} 
	<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%;">
	<div class="basic_info" class="container-fluid" style="float:left;position:fixed;margin-left:0;margin-top:20px;width:25%;height:50%;">
		<h2 class="sch_name"><b>{{conf.abbr}}{{conf.year}}</b></h2>
		<h5><b>{{conf.name}}</b></h5>
		<h6><b><a href={{scholar.Href}}>Homepage</a>
			<a href={{scholar.DBLP}}>DBLP</a></b></h6>
		<h5><b>Areas:</b>
		{% for a in area_list %}
			<pre><a href="/area/?name={{a.name}}">{{a.name}}</a></pre>
		{% endfor %}
		</h5>
	</div>
	<div class="basic_info" class="container-fluid" style="float:right;margin-right:0;margin-top:20px;text-align:left;">
		<h1 style="display:inline-block;margin-bottom:25px;margin-left:10px;"><b>Publication:</b></h1>
		{% for p in paper_list %}
		<div class="publication">
			<div style="margin-top:10px;margin-bottom:10px;">
			<h4><a href="{{p.href}}">{{p.title}}</a></h4>
			<h6><b>
			{% for au in author_list|index:forloop.counter0 %}
				<a href="/scholar/?name={{ au.name }}" class="sch_name">{{ au.name }}</a>
			{% endfor %}
			</b>
			</h6>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}