{% extends "base.html" %}
{% load index %}
{% load static %}

{% block mainbody %}
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'pro_iconfont.css' %}">
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'pro_style.css' %}">

<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%;">
		<div class="main w1200">
			<div class="left">
				<ul>
					<li>
						{% if my %}
						<a href="/profile/">
						{% else %}
						<a href="/profile/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-geren"></i>
							Profile
						</a>
					</li>
					<li>
						<a class="active">
							<i class="icon iconfont icon-jilu"></i>
							Following
						</a>
					</li>
					<li>
						{% if my %}
						<a href="/mynote/">
						{% else %}
						<a href="/mynote/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-wenda"></i>
							My Note
						</a>
					</li>
					<li>
						{% if my %}
						<a href="/myremark/">
						{% else %}
						<a href="/myremark/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-pinglun"></i>
							My Remark
						</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<div class="tap">
					<span>Following</span>
				</div>
				<div class="container">
					<p style="font-size:25px;"><b>Scholar</b></p>
					<p class="enum">
					{% for s in sch %}
						<a href="/scholar/?name={{s.name}}">{{s.name}}</a>
					{% empty %}
					{% endfor %}
					</p><br>
					<p style="font-size:25px;"><b>Institution</b></p>
					<p class="enum">
					{% for s in ins %}
						<a href="/institution/?name={{s.name}}">{{s.name}}</a>
					{% empty %}
					{% endfor %}
					</p><br>
					<p style="font-size:25px;"><b>Conference</b></p>
					<p class="enum">
					{% for s in conf %}
						<a href="/conference/?name={{s.name}}">{{s.abbr}} {{s.year}}</a>
					{% empty %}
					{% endfor %}
					</p><br>
					<p style="font-size:25px;"><b>Area</b></p>
					<p class="enum">
					{% for s in area %}
						<a href="/area/?name={{s.name}}">{{s.name}}</a>
					{% empty %}
					{% endfor %}
					</p>
				</div>
			</div>
		</div>
</div>
{% endblock %}