<!--学校主页
URL：/institution/?name={学校名字}
显示：
学校名称、主页
所有老师的信息(姓名、主页、DBLP、GoogleScholar、领域、近年论文)
response：
一个Institution类的变量ins
一个scholar类的列表scholar_list
paper_list是一个列表，第i个元素是第i位老师的近年论文（不超过5篇）-->

{% extends "base.html" %}
{% load index %}

{% block mainbody %} 
	<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%">
	<div class="basic_info" class="container-fluid" style="float:left;position:fixed;margin-left:0;margin-top:20px;width:25%;min-height:50%;">
		<h2 style="text-align:center;margin-bottom:20px;"><b>{{ins.name}}</b></h2>
		<p><a href="{{ins.homepage}}">Homepage</a></p>
		<p>Number of Publications: {{ins.pub_cnt}} </p>
		<a type="submit" id="follow_button" style="float:right" data-title="{{ Type }}"></a>
	</div>
	<div class="basic_info" class="container-fluid" style="float:right;text-align:left;margin-right:0;margin-top:20px;width:70%;">
		<h2 style="display:inline-block;margin-bottom:25px;margin-left:10px;"><b>Scholars:</b></h2>
		{% for s in scholar_list %}
		<div class="publication">
			<div style="margin-top:10px;margin-bottom:10px;">
			<h4><a href="/scholar/?name={{ s.name }}"><b>{{s.name}}</b></a></h4>
			<p class="enum"><a href="{{s.homepage}}">Homepage</a><a href="{{s.DBLP}}">DBLP</a><a href="{{s.GoogleScholar}}">GoogleScholar</a></p>
				<p>Number of Publications: {{s.pub_cnt}}</p>
				<p class="enum"><b>Areas</b>:
			{% for a in area_list|index:forloop.counter0 %}
				<a href="/area/?name={{a.name}}">{{a.name}}</a>
			{% empty %}
				None
			{% endfor %}
			</p>
			<p><b>Publications:</b></p>
			<ul>
			{% for p in paper_list|index:forloop.counter0 %}
				<li style="margin-top:5px;font-size:15px;"><a href="{{p.href}}">{{p.title}}</a></li>
			{% empty %}
				<p>No Recent Publication</p>
			{% endfor %}
			</ul>
			</div>
		</div>
		{% endfor %}
    </div>
	</div>
{% endblock %}