<!--学校主页
URL：/institution/?name={学校名字}
显示：
学校名称、主页
所有老师的信息(姓名、主页、DBLP、GoogleScholar、领域、近年论文)
response：
一个Institution类的变量ins
一个scholar类的列表scholar_list
paper_list是一个列表，第i个元素是第i位老师的近年论文（不超过5篇）-->

{% extends "base.html" %}
{% load index %}

{% block mainbody %} 
	<div style="position:absolute;top:140px;left:50px;margin:0;z-index:888;float:left;width:90%">
	<div class="basic_info" class="container-fluid" style="float:left;position:fixed;margin-left:0;margin-top:10px;width:25%;min-height:27%;padding:15px;">
		<div width="95%" height="95%">
			<h3 style="text-align:center;margin-bottom:20px;"><b>{{ins.name}}</b></h3>
				<div style="width:100%;text-align:center">
					{% load static %}
					<span style="margin:5px"><a href="{{ ins.homepage }}"><img src="{% static 'asset/home-icon.jpg' %}" width="30px" height="30px"></a></span>
					<span style="margin:5px"><a href="https://en.wikipedia.org/wiki/{{ ins.name }}"><img src="{% static 'asset/favicon.ico' %}" width="30px" height="30px"></a></span>
					<span style="margin:5px"><a href="https://www.google.com.hk/search?q={{ ins.name }}"><img src="{% static 'asset/google-icon.png' %}" width="30px" height="30px"></a></span>
				</div>
			<br>
			<div style="text-align:center">
				<a type="submit" id="follow_button" style="" data-title="{{ Type }}"></a>
				</div>
		</div>
	</div>
	<div id="container" style="float:left;position:fixed;margin-left:0;margin-top:230px;width:25%;min-height:40%;"></div>
	<div class="basic_info" class="container-fluid" style="float:right;text-align:left;margin-right:0;margin-top:10px;width:70%;">
		<h3 style="display:inline-block;margin-top:8px;margin-bottom:20px;margin-left:10px;"><b>Scholars</b></h3>
		{% for s in scholar_list %}
		<div class="publication">
			<div style="margin-top:10px;margin-bottom:10px;">
			<div style="display:inline-block;width:100%;">
				<h4 style="text-align:center;margin-bottom:20px;"><a href="/scholar/?name={{s.name}}"><b>{{s.name}}</b></a></h4>
				<div style="width:130px;margin:auto;float:right">
				{% load static %}
					<span style="margin:5px"><a href="{{ s.homepage }}"><img src="{% static 'asset/home-icon.jpg' %}" width="20px" height="20px"></a></span>
					<span style="margin:5px"><a href="{{ s.GoogleScholar }}"><img src="{% static 'asset/scholar.ico' %}" width="20px" height="20px"></a></span>
					<span style="margin:5px"><a href="{{ s.DBLP }}"><img src="{% static 'asset/dblp-logo.png' %}" width="20px" height="20px"></a></span>
				</div>
			</div>
			<p><b>Areas</b>:</p>
			<p class="enum" style="margin-left:8px;">
			{% for a in area_list|index:forloop.counter0 %}
				<a href="/area/?name={{a.name}}">{{a.name}}</a>
			{% empty %}
				None
			{% endfor %}
			</p>
			<p><b>Total Publications: {{s.pub_cnt}}</b></p>
			<p><b>Recent Publications:</b></p>
			<ul style="margin-left:8px;">
			{% for p in paper_list|index:forloop.counter0 %}
				<li style="margin-top:5px;font-size:15px;"><a href="/paper/?title={{p.title}}" style="color:#0047b3;font-weight:600;">{{p.title}}</a></li>
			{% empty %}
				<p>No Recent Publication</p>
			{% endfor %}
			</ul>
			</div>
		</div>
		{% endfor %}
    </div>
	</div>
{% load static %}
<script src="{% static 'highcharts.js' %}"></script>
<script src="{% static 'exporting.js' %}"></script>
<script>
	Highcharts.chart('container', {
	chart: {
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false,
		type: 'pie'
	},
	title: {
		text: 'Area Distribution'
	},
	tooltip: {
		pointFormat: '{series.name}: <b>{point.y}</b>'
	},
	plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
				enabled: true,
				format: '<b>{point.name}</b>',
				style: {
					color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
				}
			}
		}
	},
	series: [{
		name: 'Pub',
		colorByPoint: true,
		data: [
		{% for a in area_papers %}
		{
			name: '{{ a.0 }}',
			y: {{ a.1 }}
		},
		{% endfor %}]
	}]
});
</script>
{% endblock %}