{% extends "base.html" %}
{% load index %}

{% block mainbody %}
	{% if type %}
	<div id="search_r" class="container-fluid">
		{% ifequal type "scholar" %}
			{%for sch in sch_lst %}
				<div>
					<h2><a href="/scholar/?name={{ sch.name }}" class="sch_name">{{sch.name}}</a></h2>
					<p><a href="/institution/?name={{sch.affiliation.name}}" class="sch_aff">{{sch.affiliation}}</a></p>
					<p><a href="{{ sch.homepage }}" class="sch_url">Homepage</a></p>
					<p class="enum"><a href="{{sch.DBLP}}">DBLP</a><a href={{sch.GoogleScholar}}>Google Scholar</a></p>
				</div>
			{% empty %}
				<div><h2>No scholars found.</h2></div>
			{% endfor %}
		{% endifequal %}
		{% ifequal type "paper" %}
			{% for p in paper_lst %}
				<div>
					<p class="pub_year"><a href="/conference/?name={{p.conf_id.abbr}}&year={{p.year}}">{{p.conf_id.abbr}} {{p.year}}</a></p>
					<h3><a href="{{p.href}}">{{p.title}}</a></h3>
					<p class="enum">
					{% for sch in author_lst|index:forloop.counter0 %}
						<a href="/scholar/?name={{ sch.name }}">{{sch.name}}</a>
					{% empty %}
						None
					{% endfor %}
					</p>
				</div>
			{% empty %}
				<div><h2>No papers found.</h2></div>
			{% endfor %}
		{% endifequal %}
		{% ifequal type "institution" %}
			{% for ins in ins_lst %}
				<div>
					<h2><a href="/institution/?name={{ins.name}}">{{ins.name}}</a></h2>
					<p><a href="{{ins.homepage}}">Homepage</a></p>
				</div>
			{% empty %}
				<div><h2>No institutions found.</h2></div>	
			{% endfor %}
		{% endifequal %}
		{% ifequal type "conference" %}
			{% for conf in conf_lst %}
				<div>
					<h2><a href="/conference/?name={{conf.abbr}}&year={{conf.year}}">{{conf.abbr}} {{conf.year}}</a></h2>
					<p>{{conf.name}}</p>
					<p class="enum"><a href="{{conf.Href}}">Homepage</a><a href="{{conf.DBLP}}">DBLP</a></p>
				</div>
			{% empty %}
				<div><h2>No conferences found.</h2></div>	
			{% endfor %}
		{% endifequal %}
		{% ifequal type "area" %}
			{% for a in area_lst %}
				<div>
					<h2><a href="/area/?name={{a.name}}">{{a.name}}</a></h2>
					<p>Direction: {{a.direction}}<p>
				</div>
			{% empty %}
				<div><h2>No areas found.</h2></div>
			{% endfor %}
		{% endifequal %}
	</div>
	{% else %}
	{% endif %}
{% endblock %}