{% extends "base.html" %}
{% load index %}

{% block mainbody %}
	<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%;">
	<div class="basic_info" class="container-fluid" style="float:left;margin-left:0;margin-top:20px;width:60%;min-height:50%;padding-top:20px;padding-left:25px;">
        <h5><b><a href="{{paper.href}}">{{ paper.title }}</a></b></h5>
        <table style="font-size:15px;margin:10px;">
            <tr>
                <td align="right"><b>Authors</b></td>
                <td align="left" class="enum">
			        {% for sch in author_list %}
				        <a href="/scholar/?name={{ sch.name }}">{{sch.name}}</a>
			        {% empty %}
				        None
			        {% endfor %}
                </td>
            </tr>
            <tr><td align="right"><b>Publication Date</b></td> <td align="left">{{paper.year}} </td></tr>
            <tr><td align="right"><b>Conference</b></td> <td align="left">{{paper.conf_id}} </td></tr>
            <tr><td align="right"><b>Area</b></td> <td align="left"> {{area.name}} </td></tr>
            <tr><td align="right"><b>Notes</b></td> <td align="left"> None </td></tr>
        </table>
	</div>
{% endblock %}