{% extends "base.html" %}
{% load index %}
{% load static %}

{% block mainbody %}
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'pro_iconfont.css' %}">
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'pro_style.css' %}">

<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%;">
		<div class="main w1200">
			<div class="left">
				<ul>
					<li>
						<a class="active">
							<i class="icon iconfont icon-geren"></i>
							Profile
						</a>
					</li>
					<li>
						{% if my %}
						<a href="/follow/">
						{% else %}
						<a href="/follow/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-jilu"></i>
							Following
						</a>
					</li>
					<li>
						{% if my %}
						<a href="/mynote/">
						{% else %}
						<a href="/mynote/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-wenda"></i>
							My Note
						</a>
					</li>
					<li>
						{% if my %}
						<a href="/myremark/">
						{% else %}
						<a href="/myremark/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-pinglun"></i>
							My Remark
						</a>
					</li>
					<li>
						{% if my %}
						<a href="/addpaper/">
						{% else %}
						<a href="/addpaper/?name={{user.username}}">
						{% endif %}
							<i class="icon iconfont icon-geren"></i>
							Add Paper
						</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<div class="tap">
					<span>Profile</span>
				</div>
				<div class="container">
					{% if my %}
					<a href="/pro_edit/" style="display:inline-block;position:fixed;right:120px;"><img src="{% static 'edit.png' %}" alt="edit" style="height:25px;width:25px;"/></a>
					{% else %}
					{% endif %}
					<h2 style="text-align:center;"><b>{{user.username}}</b></h2>
					<h6 style="text-align:center;margin-bottom:20px;">
					{% ifnotequal user.profile.identity None %}
						{% ifequal user.profile.identity 'P' %}
						Professor
						{% else %}
						Student
						{% endifequal %}
					{% else %}
					Undefined
					{% endifnotequal %}
					</h6>
					<p>Gender:
					{% ifnotequal user.profile.gender None %}
							{% ifequal user.profile.gender 'M' %}
							Male
							{% else %}
							Female
							{% endifequal %}
					{% else %}
					Undefined
					{% endifnotequal %}
					</p>
					<p>Email:{{user.email}}</p>
					<p>Institution:
					{% ifnotequal user.profile.institution None %}
					{{user.profile.institution}}
					{% else %}
					Undefined
					{% endifnotequal %}
					</p>
				</div>
			</div>
		</div>
</div>
{% endblock %}