{% extends "base.html" %}
{% load index %}
{% load static %}

{% block mainbody %} 
	<div style="position:absolute;top:150px;left:50px;margin:0;z-index:888;float:left;width:90%;">
	<div class="basic_info" class="container-fluid" style="float:left;position:fixed;margin-left:0;margin-top:20px;width:25%;min-height:50%;">
		<a href="/pro_edit/" style="display:inline-block;position:fixed;right:990px;"><img src="{% static 'edit.png' %}" alt="edit" style="height:25px;width:25px;"/></a>
		<h2 style="text-align:center;"><b>{{user.username}}</b></h2>
		<h6 style="text-align:center;margin-bottom:20px;">
		{% ifnotequal user.profile.identity None %}
			{% ifequal user.profile.identity 'P' %}
			Professor
			{% else %}
			Student
			{% endifequal %}
		{% else %}
		Undefined
		{% endifnotequal %}
		</h6>
		<p>Gender:
		{% ifnotequal user.profile.gender None %}
			{% ifequal user.profile.gender 'M' %}
			Male
			{% else %}
			Female
			{% endifequal %}
		{% else %}
		Undefined
		{% endifnotequal %}
		</p>
		<p>Email:{{user.email}}</p>
		<p>Institution:
		{% ifnotequal user.profile.institution None %}
		{{user.profile.institution}}
		{% else %}
		Undefined
		{% endifnotequal %}
		</p>
	</div>
	<div class="basic_info" class="container-fluid" style="float:right;text-align:left;margin-right:0;margin-top:20px;width:70%;">
		<h2 style="display:inline-block;margin-bottom:25px;margin-left:10px;"><b>Following:</b></h2>
		<p class="enum">
		{% for s in sch %}
			<a href="/scholar/?name={{s.name}}"><p>{{s.name}}</p></a>
		{% empty %}
			None
		{% endfor %}
		</p>
		<br>
		<p class="enum">
		{% for s in ins %}
			<a href="/institution/?name={{s.name}}"><p>{{s.name}}</p></a>
		{% empty %}
			None
		{% endfor %}
		</p>
		<p class="enum">
		{% for s in conf %}
			<a href="/conference/?name={{s.name}}"><p>{{s.abbr}} {{s.year}}</p></a>
		{% empty %}
			None
		{% endfor %}
		</p>
		<p class="enum">
		{% for s in area %}
			<a href="/area/?name={{s.name}}"><p>{{s.name}}</p></a>
		{% empty %}
			None
		{% endfor %}
		</p>
    </div>
	</div>
{% endblock %}