{% extends "base.html" %}

{% block mainbody %} 
	<div>
	<div class="scholar" class="container-fluid">
		<h1>ZZB</h1>			
		<p>DBLP</p>
		<p>affiliation</p>
	</div>
	<div class="scholar" class="container-fluid">
		<h1 style="display:inline-block;margin-bottom:25px;">Papers</h1>
		<div class="scholar_paper">
			<p class="paper_year">paper's year</p>
			<h2>paper title</h2>
			<p><pre>scholar</pre></p>
			<p><pre>conference's name	year	DBLP	Href</pre></p>
		</div>
		<div class="scholar_paper">
			<p class="paper_year">paper's year</p>
			<h2>paper title</h2>
			<p><pre>scholar</pre></p>
			<p><pre>conference's name	year	DBLP	Href</pre></p>
		</div>
		<div class="scholar_paper">
			<p class="paper_year">paper's year</p>
			<h2>paper title</h2>
			<p><pre>scholar</pre></p>
			<p><pre>conference's name	year	DBLP	Href</pre></p>
		</div>
	</div>
	</div>
{% endblock %}