{% extends "base.html" %}

{% block mainbody %} 
	<div>
	<div class="basic_info" class="container-fluid">
		<h1>{{scholar.name}}</h1>	
		<p>Affiliation:{{scholar.affiliation}}</p>
		<p>Areas:
		{% for a in area_list %}
			<pre>a	</pre>
		{% endfor %}
		</p>
		<p><a href={{scholar.DBLP}}>DBLP:{{scholar.DBLP}}</a></p>
		<p><a href={{scholar.homepage}}>Homepage:{{scholar.homepage}}</a></p>
		<p><a href={{scholar.Google_Scholar}}>Google Scholar:{{scholar.Google_Scholar}}</a></p>			
	</div>
	<div class="basic_info" class="container-fluid">
		<h1 style="display:inline-block;margin-bottom:25px;">Publication:</h1>
		{% for p in paper_list %}
		<div class="publication">
			<p class="pub_year">{{p.year}}</p>
			<h2>{{p.title}}</h2>
			<p>
			{% for sch in scholar_list[{{forloop.counter0}}] %}
				<pre>sch.name	</pre>
			{% endfor %}
			</p>
			<p>{{conference}}</p>
		</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}