* {margin: 0; padding: 0;}

#coauthor {
  margin: 20px;
}

#coauthor-ul {
  list-style-type: none;
  width: 100%;
}

#coauthor-h3 {
  font: bold 17px/1.5 Helvetica, Verdana, sans-serif;
}

#coauthor-img {
  float: left;
  margin: 0 15px 0 0;
}

#coauthor-p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#coauthor-li {
  padding: 10px;
  overflow: auto;
}

#coauthor-li:hover {
  background: #eee;
  cursor: pointer;
}