/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
text{font-family: Verdana;}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
    position:fixed;
    top:0px;
    left:0px;
	width: 100%;
	height: 100%;
	background-color: #FFC1C1;/*rgb(240,128,128);*/
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#title{
	background-color:#FFFAFA;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	position:fixed;
	left:3px;
    top:0px;
	width:99.5%;
	height:20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:5px 5px 5px 5px;
}

a{
	color:black;
	font-family: Verdana;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:10px;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top:20px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.search_r{
	display:block;
	z-index:5;
	position:relative;
	width:50%;
	height:100%;
	float:left;
	margin:330px;
	margin-top:150px;
	margin-bottom:20px;
	padding:0px;
}
	.search_r div{
		display:block;
		position:relative;
		width:100%;
		min-height:130px;
		border:none;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
		padding:10px;
		margin-bottom:20px;
		background-color:#FFFAFA;
		border-radius:5px 5px 5px 5px;
		text-align:center;
	}
	.search_r div h3 a{
		color:#E86C8D;
	}
	.search_r div h2 a{
		color:#E86C8D;
	}
	.search_r div h2{
		color:#E86C8D;
	}
	.search_r div p{
		font-size:17px;
	}

.pub_year{
	display:inline-block;
	float:right;
	margin:10px;
	margin-top:0px;
}

.basic_info{
	display:block;
	border:none;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
	padding:10px;
	background-color:#FFFAFA;
	border-radius:5px 5px 5px 5px;
}
	.basic_info h3{
		color:#E86C8D;
	}
	.basic_info p{
		font-size:17px;
	}
	.basic_info:last-child{
		margin-bottom:30px;
	}

.publication{
	display:block;
	position:relative;
	width:93%;
	border-top:1px solid rgb(240,128,128);
	border-bottom:1px solid rgb(240,128,128);
	margin-left:30px;
	margin-right:30px;
}
	.publication:last-child{
		margin-bottom:30px;
	}


body {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
}


form {
  width: 450px;
  margin: 17% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

.enum a{
	display:inline-block;
	margin-right:20px;
}


#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  font-size: 15px;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  border:2px solid #E86C8D;
  border-right:none;
}
	#email:focus{
		border:none;
	}


#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  color:white;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


#submit:hover {
  background: #d45d7d;
}

.save {
  width: 15%;
  height: 40px;
  background: #32CD32;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  color:white;
  letter-spacing: 1px;
  border-radius: 5px 5px 5px 5px;
  transition: background .3s ease-in-out;
  position:relative;
  margin-top:30px;
  left:0px;
}


.save:hover {
  background: #228B22;
}


input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.search_r input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
	.search_r input:focus {
		outline: 2px solid #E86C8D;
		box-shadow: 0 0 2px #E86C8D;
	}
	
textarea{
	border:none;
	background-color: #eee;
	font-size:17px;
}
	textarea:focus {
		outline: none;
		outline: 2px solid #E86C8D;
		box-shadow: 0 0 2px #E86C8D;
	}


body {
  font-family: "Roboto", sans-serif;
}
.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
  color:#E86C8D;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}
.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.6;
}
.credit img {
  width: 72px;
}
.credit:hover {
  transform: scale(0.95);
}